.button{
    -fx-background-color:#092734;
    -fx-background-insets:0;
    -fx-background-radius:0;
    -fx-font-size:20;
}
.button:hover{
    -fx-background-color:#0e3f53
}
.button:pressed{
    -fx-background-color:#1a6a8d
}

.label{
    -fx-background-color:#ffffff;
    -fx-font-size:20;
}

#topPane{
    -fx-background-color:#25A6D9;
}
